{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "topLevelAwait": true,
      "dynamicImport": true,
      "privateMethod": true,
      "decorators": true,
      "baseUrl": ".",
      "paths": {
        "#*": ["./build/*"]
      }
    },
    "target": "esnext",
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true
    // "loose": true,
  },
  "isModule": true,
  "sourceMaps": "inline",
  "module": {
    "type": "es6"
  },
  "env": {
    "targets": {
      "node": 20
    }
  }
}
