{
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "topLevelAwait": true,
      "dynamicImport": true,
      "privateMethod": true
    },
    "target": "esnext",
    "transform": {
      "legacyDecorator": true,
      "decoratorMetadata": true
    },
    "keepClassNames": true
    // "loose": true
  },
  "isModule": true,
  "sourceMaps": "inline",
  "module": {
    "type": "es6"
  }
}
